*.DS_Store
*.obj
*.pdb
*.suo
*.user
*.cache
*.orig
*.iws
*.log
*.pyc
*.py~
*.pid
*.resharper
*.csproj.ReSharper
_ReSharper.*
.git
.hgignore
.hgrc

build-output
build-ouput
buildOutput
tmp
perflog

Debug/*
testResult/*
testResults/*
ErrorLogs/
bin/
obj/
.idea/
App_Data/*
src/*/error*xml
src/*/Logs/error*xml
src/GlobalAssemblyInfo.cs

packages

#unit test
test-results.xml
coverage